@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@mixin text {
    color: white;
    font-weight: normal;
}
body{
    margin: 0;
    height: 100vh;
    font-family: 'Kalam', cursive;
    background-color: #010C1C;
    box-sizing: border-box;
}
.container{
    padding: 1em;
    height: 100vh;
    &:first-child{
        display: grid;
        grid-template-rows: 10% 40% auto;
    }
    h1{
        margin-top: 2em;
        text-align: center;
        font-size: 3em;
        @include text;

    }
    nav{
        display: flex;
        justify-content: space-between;
        .logo{
            text-decoration: none;
            font-size: 1.5em;
            @include text;

        }
    }
    h2{
        @include text;
        font-size: 3em;

    }
    p{
        @include text;
        font-size: 1em;
        padding: 2em;
    }
}

.ocean, .algae{
    width: 100%;
    position: absolute;
    z-index: -1;
}
.ocean{
    top: 0;
}
.algae{
    top: 60%;
}

// @media only screen and (min-width: 650px){
//     .ocean{
//         top: -30%;
//     }
//     .algae{
//         top: 60%;
//     }
//     .container h1{
//         font-size: 4em;
//     }
// }

// @media only screen and (min-width: 900px){
//     .ocean{
//         top: -47%;
//     }
//     .algae{
//         top: 60%;
//     }

// }

// @media only screen and (min-width: 1050px){
//     .ocean{
//         top: -70%;
//     }
//     .algae{
//         top: 40%;
//     }
//     .container h1{
//         font-size: 5em;
//     }

// }

